*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

td {

    border-radius: 10px;

    background: rgb(255, 255, 255);

}


body {
    background: #012029;
    color: white;
}

.container {
    padding: 20px;
 

}

.info {

    max-width: 100%;
    width: 600px;
    font-size: 40px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.btn {
    border: none;
    background: rgb(255, 255, 255);
    padding: 10px;
    height: 30px;
    width: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.btn:hover,
#submit:hover {
    background: rgb(224, 251, 239);
    color: black;
}

#container-table {
    margin-top: 50px;
    width: 100%;

}
.container-input{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}
.container-input_text{
    font-size: 20px;
}
#input {
    border: none;
    outline: none;
   
    width: 150px;
    height: 30px;
    font-size: 25px;
    text-align: center;
}
#input:focus{
    border: 1px solid rgb(224, 251, 239);
}

#submit{
    border: none;
    outline: none;
    background: rgb(255, 255, 255);
    width: 70px;
    height: 30px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}