*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

td {
    /* border: 1px solid black; */
    border-radius: 10px;
    /* box-shadow: 0px 2px black; */
    background: rgb(255, 255, 255);

}


body {
    background: #25fee140;
    /* background: linear-gradient(90deg, rgba(14, 241, 22, 0.5) 0%, rgba(210, 218, 202, 0.5) 100%); */
}

.container {
    padding: 20px;

}

.info {
    /* position: absolute;
    left: 20px;
    top: 10px; */
    max-width: 100%;
    width: 600px;
    font-size: 40px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.btn {
    border: none;
    background: skyblue;
    padding: 10px;
    height: 30px;
    width: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.btn:hover,
#submit:hover {
    background: black;
    color: white;
}

#container-table {
    margin-top: 50px;
    width: 100%;

}
.container-input{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}
.container-input_text{
    font-size: 20px;
}
#input {
    border: none;
    outline: none;
   
    width: 150px;
    height: 30px;
    font-size: 25px;
    text-align: center;
}
#input:focus{
    border: 1px solid black;
}

#submit{
    border: none;
    outline: none;
    background: skyblue;
    width: 70px;
    height: 30px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}